<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js 2.2 Complete API Cheat Sheet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/minireset.css/0.0.2/minireset.min.css" />
<style>
<%= style %>
</style>
</head>

<body>
  <div id="modal" class="hidden">
    <button>&times;</button>
    <iframe id="iframe"></iframe>
  </div>
    <%= body %>
<script>
<%= script %>
</script>
</body>

</html>
